{% extends "layout.html" %}

{% block body %}
	<div class="jumotron text-center" style="width:100%; height:inherit; position:absolute; margin-bottom:55px;">
		<div style="background-color:black; background: rgba(0,0,0,.45); color:white;display:inline-block; width:100%; height:40%; display:flex;">
			<div style="margin:auto;">
				<h1>About Us</h1>
				<header>
					<p>Find out more about what makes us so great</p>
				</header>
			</div>
		</div>
		<div style="background-color:white; height:60%; width:100%; display:flex;">
			<div style="margin-auto;">
				<h3>Scheduling</h3>
				<p style="margin:0% 5% 0% 5%">UIUC Hitch is compatible with your Goodle Calendar, which allows you to import your curent calendar with the destinations of where you have to be which will automatically create your commute schedule and notify you
				when you hav leave to catch the best route. If you don't have a calendar to import, you can build one here just by entering where you want to be and by when, and we'll notify you when to leave for your best route.</p>

				<hr />

				<h4>Easy of Use and Accuracy</h4>
				<p style="margin:0% 5% 0% 5%">Here at UIUC Hitch we're tired of having to compromise between accurate arrival times or an intuitive application. That's why we build an application with both. Here you'll find the most
				accurate bus schedules and a real time view of where the bus curently is all while keeping the intuitive design that will allow you to get to where you have to be without all the confusion.</p>
			</div>
		</div>
	</div>
{% endblock %}
