{% extends "layout.html" %}
{{ super() }}
{% block body %}
	<div class="jumotron text-center">
		<h4>Your Daily Commute Retought</h4>
		<section>
			<div>
				<header>
					<h2>A Better Transit App</h2>
					<p>No more missing the bus, arriving too early, or struggling to find the best route.</p>
				</header>
			</div>
		</section>

	<!-- Two -->
		<section>
			<section>
				<div><img src="images/schedule.jpg" alt="" /></div><div>
					<h2>Transit schedule</h2>
					<p>Import of build your transit schedule so you'll never miss a bus.</p>
				</div>
			</section>
			<section>
				<div><img src="images/destination.jpg" alt="" /></div><div>
					<h2>Destination Search</h2>
					<p>Search either the name of the stop or the location you want to get to and we'll handle the rest.</p>
				</div>
			</section>
		</section>

	<!-- Three -->
	<div class="container">
		<header>
			<h2>What Makes Us So Great?</h2>
			<p>We bring the best of both worlds. Easy of use and accuracy, and a whole bunch of useful features.</p>
		</header>
		<ul>
			<h4>Calendar</h4>
			<li>
				<p>Build a transit schedule so you'll be notified whenever a bush you need to take is about to come.</p>
			</li>
			<h4>Tracking</h4>
			<li>
				<p>Track the current position of the bus so you'll know be able to better predict when it will arive.</p>
			</li>
			<h4>Searching</h4>
			<li>
				<p>You no longer have to memorize every stop. Just search where you want to go and we'll give you the best route.</p>
			</li>
			<h4>Accuracy</h4>
			<li>
				<p>We'll give you the most updated times of arival so you won't over or underestimate</p>
			</li>
		</ul>
	</div>

	<!-- CTA -->
		<section>
			<div>
				<header>
					<h2>Love What We Have to Offer?</h2>
					<p>Consider signing up for an account with no ties attached</p>
				</header>
				<ul>
					<li><a href="#">Sign Up</a></li>
					<li><a href="about.html">Learn More</a></li>
				</ul>
			</div>
		</section>
	</div>
{% endblock %}
