{% extends "layout.html" %}

{% block body %}
	<div class="jumotron text-center">
		<h1>Scheduler</h1>
		<p class="lead">
			These are the best routes.
		</p>
		{% for stations in stations %}
			<div class="container" style="border: 2px solid black; margin-bottom: 5px;">
				<div class="row">
					<div class="col-sm">
						<h4>{{ stations.name }}</h4>
					</div>
					<div class="col-sm">
						<h3>{{ stations.time }} Min</h3>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
