{% extends "default.html" %}

{% block body %}
<div class="jumotron text-center">
	<h1>Scheduler</h1>
	<p class="lead">
		These are the best routes. Select the one you want to take.
	</p>
	{% for time in arrival_times %}
	<form method="POST" action="/map">
		<button type="submit">
			<div class="container" style="margin-bottom: 5px; background-color:#61666b; color:white;">
				<h4>Arrival Time: {{ time }}</h4>
				<h6>{{ test['time'] }}</h6>
				<input type="hidden" name="selection" value={{time}}>
			</div>
		</button>
	</form>
	{% endfor %}
</div>
{% endblock %}
