{% extends "layout.html" %}

{% block body %}
<div class="jumotron text-center">
  <h1>Transit Searcher</h1>
  <p class="lead">
    Search where you want to go.
  </p>
  <form method="POST" action="/results">
    <div align="center" style="width:60%;">
      <div align="right">
        Current Location : <input type="text" name="currentlocation">
        <br>
        <br>
        Destination : <input type="text" name="destination">
      </div>
    </div>
    <br>
    <input type="submit" value="Search">
  </form>
</div>
{% endblock %}
